html,body{
    display: flex;
    justify-content: center;
}
canvas{
    border: 1px solid black;
}
#container{
    justify-content: center;
    background-image:url("images/background1.webp");
    text-align: center;
}
#nav{
    display: flex;
    justify-content: center;
}
#c{
    background-image: url("images/background2.jpg");
}