html,body{
    display: flex;
    justify-content: center;
    background-color: darkslategray;
}
canvas{
    border: 1px solid black;
}
#container{
    justify-content: center;
    text-align: center;
}
#nav{
    display: flex;
    justify-content: center;
}
#c{
    background-image: url("images/background2.jpg");
}